# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [23]:
# Dependencies and Setup
# sudo pip3 install gmaps
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
# AIzaSyBwSccmk-aBnqayAkJaeoR_xzV9ebJRzD8

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:

csv_file = "../WeatherPy/cities_weather.csv"

weather_df = pd.read_csv(csv_file)

weather_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ugoofaaru,34,MV,1612046598,70,5.6667,73.0000,80.89,9.28
1,1,bathsheba,40,BB,1612046633,65,13.2167,-59.5167,80.60,13.80
2,2,punta arenas,0,CL,1612046347,58,-53.1500,-70.9167,55.40,21.85
3,3,naryan-mar,100,RU,1612046633,93,67.6713,53.0870,3.18,11.83
4,4,cape town,75,ZA,1612046633,77,-33.9258,18.4232,71.01,1.14

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [34]:
gmaps.configure(api_key = "AIzaSyBwSccmk-aBnqayAkJaeoR_xzV9ebJRzD8")

In [59]:
weather_df = weather_df.dropna()
humidity = weather_df["Humidity"].astype(float)

# Storing Lat and Lng into  locations. 
locations = weather_df[["Lat", "Lng"]].astype(float)

# Create a heatmap
fig = gmaps.figure()

heatlayer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=max(weather_df["Humidity"]),
                                 point_radius = 3)

fig.add_layer(heatlayer)
fig
# plt.savefig("../VacationPy/Humidity Heatmap.png")

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
new_weather_df = weather_df
# Narrow down the DataFrame
new_weather_df = new_weather_df.loc[(new_weather_df["Max Temp"] < 80) & (new_weather_df["Max Temp"] > 70)]
new_weather_df = new_weather_df.loc[new_weather_df["Wind Speed"] < 10]
new_weather_df = new_weather_df.loc[new_weather_df["Cloudiness"] == 0]

# Drop any rows with null values
new_weather_df = new_weather_df.dropna()

new_weather_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
62,62,saint-philippe,0,RE,1612046645,65,-21.3585,55.7679,78.80,6.91
83,83,aden,0,YE,1612046501,74,12.7794,45.0367,74.14,8.97
103,103,siguiri,0,GN,1612046653,19,11.6667,-9.5000,73.53,2.51
106,106,ahipara,0,NZ,1612046647,48,-35.1667,173.1667,70.48,5.64
162,162,saint-pierre,0,RE,1612046666,65,-21.3393,55.4781,78.80,6.91
364,364,malanville,0,BJ,1612046713,18,11.8685,3.3899,75.20,8.23
388,388,wukari,0,NG,1612046721,19,7.8500,9.7833,76.06,3.33
448,448,malindi,0,KE,1612046527,85,-3.2175,40.1191,76.35,9.93

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [42]:
hotel_df = new_weather_df
params = {
    "radius": 5000,
    "types": "hotel",
    "key": "AIzaSyBwSccmk-aBnqayAkJaeoR_xzV9ebJRzD8"
}


for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    print(f"Retrieve results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    #extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing result so skip.")
hotel_df

Retrieving Results for Index 62: saint-philippe.
Missing result so skip.
Retrieving Results for Index 83: aden.
Missing result so skip.
Retrieving Results for Index 103: siguiri.
Missing result so skip.
Retrieving Results for Index 106: ahipara.
Missing result so skip.
Retrieving Results for Index 162: saint-pierre.
Missing result so skip.
Retrieving Results for Index 364: malanville.
Missing result so skip.
Retrieving Results for Index 388: wukari.
Missing result so skip.
Retrieving Results for Index 448: malindi.
Missing result so skip.

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
62,62,saint-philippe,0,RE,1612046645,65,-21.3585,55.7679,78.80,6.91
83,83,aden,0,YE,1612046501,74,12.7794,45.0367,74.14,8.97
103,103,siguiri,0,GN,1612046653,19,11.6667,-9.5000,73.53,2.51
106,106,ahipara,0,NZ,1612046647,48,-35.1667,173.1667,70.48,5.64
162,162,saint-pierre,0,RE,1612046666,65,-21.3393,55.4781,78.80,6.91
364,364,malanville,0,BJ,1612046713,18,11.8685,3.3899,75.20,8.23
388,388,wukari,0,NG,1612046721,19,7.8500,9.7833,76.06,3.33
448,448,malindi,0,KE,1612046527,85,-3.2175,40.1191,76.35,9.93

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [54]:
# Add marker layer ontop of heat map
# locations = hotel_df[["Lat", "Lng"]]
markers = gmaps.marker_layer(locations)


# Display figure
fig.add_layer(markers)
fig
plt.savefig("../WeatherPy/City Latitude vs Cloudiness.png")

Figure(layout=FigureLayout(height='420px'))